<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-device-motion"
        version="2.0.2-dev">

    <name>Device Motion</name>
    <description>[DEPRECATED] Cordova Device Motion Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device,motion</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-device-motion.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320636</issue>

    <js-module src="www/Acceleration.js" name="Acceleration">
        <clobbers target="Acceleration" />
    </js-module>

    <js-module src="www/accelerometer.js" name="accelerometer">
        <clobbers target="navigator.accelerometer" />
    </js-module>

    <info>
        [DEPRECATED] - cordova-plugin-device-motion
        With the W3C Device Motion and Orientation API now being supported on iOS, Android and Windows devices, this plugin is not needed any more. Read more about the API at https://www.w3.org/TR/2016/CR-orientation-event-20160818/ 
    </info>


    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Accelerometer">
                <param name="android-package" value="org.apache.cordova.devicemotion.AccelListener"/>
            </feature>
        </config-file>

        <source-file src="src/android/AccelListener.java" target-dir="src/org/apache/cordova/devicemotion" />

    </platform>
    
</plugin>
