<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-calendar"
    version="5.0.0">
	
    <name>Calendar</name>
	
    <description> This plugin allows you to manipulate the native calendar. </description>
    <author>Eddy Verbruggen</author>
    <license>MIT</license>
    <keywords>Calendar, Agenda, Event</keywords>
	<repo>https://github.com/EddyVerbruggen/Calendar-PhoneGap-Plugin.git</repo>
    <issue>https://github.com/EddyVerbruggen/Calendar-PhoneGap-Plugin/issues</issue>
	
    <engines>
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>
	
    <js-module src="www/Calendar.js" name="Calendar">
        <clobbers target="window.plugins.calendar"/>
    </js-module>
		
    <!-- android -->
    <platform name="android">
	
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Calendar">
                <param name="android-package" value="nl.xservices.plugins.Calendar"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_CALENDAR"/>
            <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
        </config-file>
		
        <source-file src="src/android/nl/xservices/plugins/Calendar.java" target-dir="src/nl/xservices/plugins"/>
        <source-file src="src/android/nl/xservices/plugins/accessor/AbstractCalendarAccessor.java"  target-dir="src/nl/xservices/plugins/accessor"/>
        <source-file src="src/android/nl/xservices/plugins/accessor/CalendarProviderAccessor.java"  target-dir="src/nl/xservices/plugins/accessor"/>
        <source-file src="src/android/nl/xservices/plugins/accessor/LegacyCalendarAccessor.java" target-dir="src/nl/xservices/plugins/accessor"/>
    </platform>
		
</plugin>
