<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="toone-plugin-ImageTransfer"
		version="1.0.0">
		
    <name>ImageTransfer</name>
    <description>Cordova ImageTransfer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ImageTransfer</keywords>
  
    <js-module src="www/ImageTransferPlugin.js" name="ImageTransferPlugin">
        <clobbers target="toone.imageTransfer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ImageTransfer">
				<param name="android-package" value="toone.v3.plugins.imagetransfer.ImageTransfer" />
			</feature>
        </config-file>

        <source-file src="src/android/ImageTransfer.java" target-dir="src/toone/v3/plugins/imagetransfer" />
		
		<lib-file src="src/android/universal-image-loader-1.9.5.jar" />
    </platform>
  
</plugin>
