<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="toone-plugin-talkingdata"
		version="1.0.0">
		
    <name>talkingdata</name>
    <description>Cordova talkingdata Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,talkingdata</keywords>


    <js-module src="www/talkingdata.js" name="talkingdata">
        <clobbers target="toone.talkingdata" />
    </js-module>
	
	 <preference name="TD_APP_ID" default="abcd" />
	 <preference name="TD_CHANNEL_ID" default="MI Store" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TalkingDataPlugin">
				<param  name="android-package" value="toone.v3.plugins.talkingdata.TalkingDataPlugin"/>
				<param name="onload" value="true" />
			</feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="application">
		   <service
			  android:name="com.talkingdata.sdk.TDAntiCheatingService"
			  android:process="com.talkingdata.sdk.TDAntiCheatingService"
			  tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="com.talkingdata.sdk.TDAntiCheatingService"/>
			</intent-filter>
			</service>

			<meta-data
				android:name="TD_APP_ID"
				android:value="$TD_APP_ID"/>
			<meta-data
				android:name="TD_CHANNEL_ID"
				android:value="$TD_CHANNEL_ID"/>
		</config-file>

        <source-file src="src/android/TalkingDataPlugin.java" target-dir="src/toone/v3/plugins/talkingdata" />
		
		<lib-file src="src/android/libs/SaaS_AppAnalytics_Android_SDK_V4.0.12.jar" />
    </platform>
  
</plugin>
