<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="cordova-plugin-battery-status"
      version="2.0.3-dev">
    <name>Battery</name>
    <description>Cordova Battery Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,battery</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-battery-status.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320643</issue>

    <js-module src="www/battery.js" name="battery">
        <clobbers target="navigator.battery" />
    </js-module>

    <!-- android -->
    <platform name="android">
	
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Battery" >
                <param name="android-package" value="org.apache.cordova.batterystatus.BatteryListener"/>
            </feature>
        </config-file>

        <source-file src="src/android/BatteryListener.java" target-dir="src/org/apache/cordova/batterystatus" />
    </platform>
 
</plugin>
