<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-pingpp"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.0.1">

    <name>Pingpp</name>
    <description>cordova plugin for ping++</description>
  
    <engines>
        <engine name="cordova" version=">=5.4.1"/>
    </engines>
    
    <js-module src="www/pingpp.js" name="pingpp">
        <clobbers target="navigator.Pingpp" />
    </js-module>

    <platform name="android">
    
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PingppPlugin">
                <param name="android-package" value="cordova.plugin.pingpp.PingppPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
		
            <activity
                    android:name="com.pingplusplus.android.PaymentActivity"
                    android:configChanges="orientation|screenSize|keyboardHidden|navigation"
                    android:launchMode="singleTop"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
                    <intent-filter>
                       <action android:name="android.intent.action.VIEW"/>
                       <category android:name="android.intent.category.BROWSABLE"/>
                       <category android:name="android.intent.category.DEFAULT"/>
                       <data android:scheme="qwalletXXXXXXXX"
							 tools:ignore="AppLinkUrlError"/>
                    </intent-filter>
            </activity>
			
            <activity-alias
                    android:name=".wxapi.WXPayEntryActivity"
                    android:exported="true"
                    android:targetActivity="com.pingplusplus.android.PaymentActivity" />
           
			<activity
            		android:name="com.unionpay.uppay.PayActivity"
           			android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
					
            <activity
                android:name="com.pingplusplus.ui.PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
				
            <activity
                android:name="com.pingplusplus.ui.PaySuccessActivity"
                android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>
        </config-file>

        <source-file src="src/android/PingppPlugin.java" target-dir="src/cordova/plugin/pingpp/"/>
		
		       
        <source-file src="sdk/android/lib/pingpp/libs/libpingpp-2.1.17.jar" target-dir="app/libs"/>
        <source-file src="sdk/android/lib/pingpp/libs/libpingppui-1.0.2.jar" target-dir="app/libs"/>
        <source-file src="sdk/android/lib/pingpp/libs/UPPayAssistEx.jar" target-dir="app/libs"/>   
        <source-file src="sdk/android/lib/pingpp/libs/UPPayPluginExPro.jar" target-dir="app/libs"/>
        <source-file src="sdk/android/lib/pingpp/libs/mqqopenpay.jar" target-dir="app/libs"/>
        
        <source-file src="sdk/android/lib/pingpp/libs/armeabi/libentryexpro.so" target-dir="app/src/main/jniLibs/armeabi"/>
        <source-file src="sdk/android/lib/pingpp/libs/armeabi/libuptsmaddon.so" target-dir="app/src/main/jniLibs/armeabi"/>
        <source-file src="sdk/android/lib/pingpp/libs/armeabi/libpingpp.so" target-dir="app/src/main/jniLibs/armeabi"/>
      
		<source-file src="sdk/android/lib/pingpp/libs/armeabi-v7a/libentryexpro.so" target-dir="app/src/main/jniLibs/armeabi-v7a"/>
		<source-file src="sdk/android/lib/pingpp/libs/armeabi-v7a/libuptsmaddon.so" target-dir="app/src/main/jniLibs/armeabi-v7a"/>
		<source-file src="sdk/android/lib/pingpp/libs/armeabi-v7a/libpingpp.so" target-dir="app/src/main/jniLibs/armeabi-v7a"/>
	
		
		<source-file src="sdk/android/lib/pingpp/libs/data.bin" target-dir="app/src/main/assets"/>
		<source-file src="sdk/android/lib/pingpp/libs/pingpp_web.html" target-dir="app/src/main/assets"/>		
		
        <source-file src="sdk/android/lib/pingpp/res/anim/pingpp_dialog_enter.xml" target-dir="app/src/main/res/anim"/>
        <source-file src="sdk/android/lib/pingpp/res/anim/pingpp_dialog_exit.xml" target-dir="app/src/main/res/anim"/>

		<source-file src="sdk/android/lib/pingpp/res/drawable/pingpp_back.png" target-dir="app/src/main/res/drawable"/>
		<source-file src="sdk/android/lib/pingpp/res/drawable/pingpp_tips_bg.9.png" target-dir="app/src/main/res/drawable"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable/pingpp_channel_item_selector.xml" target-dir="app/src/main/res/drawable"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable/pingpp_common_pay_button_blue.xml" target-dir="app/src/main/res/drawable"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable/pingpp_common_pay_button_green.xml" target-dir="app/src/main/res/drawable"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable/pingpp_common_pay_channel_btton.xml" target-dir="app/src/main/res/drawable"/>

        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_alipay.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_baidu.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_baidupay.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_cmbkb.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_done.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_failed.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_huabei.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_jingdongpay.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_nocard.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_qq.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_success.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_unionpay.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_unipay.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_wechat.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_wepay.png" target-dir="app/src/main/res/drawable-xhdpi"/>
        <source-file src="sdk/android/lib/pingpp/res/drawable-xhdpi/pingpp_yibaopay.png" target-dir="app/src/main/res/drawable-xhdpi"/>
		
		<source-file src="sdk/android/lib/pingpp/res/layout/activity_pingpp_payment.xml" target-dir="app/src/main/res/layout"/>
        <source-file src="sdk/android/lib/pingpp/res/layout/fragment_pay_way_dialog.xml" target-dir="app/src/main/res/layout"/>
        <source-file src="sdk/android/lib/pingpp/res/layout/pingpp_activity_pay_successed.xml" target-dir="app/src/main/res/layout"/>
        <source-file src="sdk/android/lib/pingpp/res/layout/pingpp_activity_pay.xml" target-dir="app/src/main/res/layout"/>
        <source-file src="sdk/android/lib/pingpp/res/layout/pingpp_bill_item.xml" target-dir="app/src/main/res/layout"/>
        <source-file src="sdk/android/lib/pingpp/res/layout/pingpp_pay_channel_item.xml" target-dir="app/src/main/res/layout"/>
		
		<source-file src="sdk/android/lib/pingpp/res/values/pingpp_colors.xml" target-dir="app/src/main/res/values"/>
        <source-file src="sdk/android/lib/pingpp/res/values/pingpp_attrs.xml" target-dir="app/src/main/res/values"/>
        <source-file src="sdk/android/lib/pingpp/res/values/pingpp_strings.xml" target-dir="app/src/main/res/values"/>
        <source-file src="sdk/android/lib/pingpp/res/values/pingpp_styles.xml" target-dir="app/src/main/res/values"/>
		
    </platform>
   
</plugin>
